Packs/MxToolBox/TestPlaybooks/playbook-MxToolbox_test.yml
id: MxToolbox-test
version: -1
name: MxToolbox-test
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 1981f888-e6fc-45e5-8dd1-4edabe4f41d1
    type: start
    task:
      id: 1981f888-e6fc-45e5-8dd1-4edabe4f41d1
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: 9a22182c-3af1-4e25-8691-7e9c9e74803e
    type: regular
    task:
      id: 9a22182c-3af1-4e25-8691-7e9c9e74803e
      version: -1
      name: mxtoolbox
      description: Run any supported command on the mxtoolbox API
      script: MxToolBox|||mxtoolbox
      type: regular
      iscommand: true
      brand: MxToolBox
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      additionalParams: {}
      command:
        simple: a
      data:
        simple: example.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: 916eea3b-6ce0-42c1-87e2-6d3989d51456
    type: regular
    task:
      id: 916eea3b-6ce0-42c1-87e2-6d3989d51456
      version: -1
      name: mxtoolbox
      description: Run any supported command on the mxtoolbox API
      script: MxToolBox|||mxtoolbox
      type: regular
      iscommand: true
      brand: MxToolBox
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      additionalParams: {}
      command:
        simple: dns
      data:
        simple: example.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: 1d3fb0fd-705f-42ee-811f-6f2fbfc98fe7
    type: regular
    task:
      id: 1d3fb0fd-705f-42ee-811f-6f2fbfc98fe7
      version: -1
      name: mxtoolbox
      description: Run any supported command on the mxtoolbox API
      script: MxToolBox|||mxtoolbox
      type: regular
      iscommand: true
      brand: MxToolBox
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      additionalParams: {}
      command:
        simple: mx
      data:
        simple: example.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: 71c6f128-2cd4-4119-8b49-ff4fae71ce7e
    type: regular
    task:
      id: 71c6f128-2cd4-4119-8b49-ff4fae71ce7e
      version: -1
      name: mxtoolbox
      description: Run any supported command on the mxtoolbox API
      script: MxToolBox|||mxtoolbox
      type: regular
      iscommand: true
      brand: MxToolBox
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      additionalParams: {}
      command:
        simple: spf
      data:
        simple: example.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 24a5a9b5-fb77-4855-8992-467b7d0cfc03
    type: regular
    task:
      id: 24a5a9b5-fb77-4855-8992-467b7d0cfc03
      version: -1
      name: mxtoolbox
      description: Run any supported command on the mxtoolbox API
      script: MxToolBox|||mxtoolbox
      type: regular
      iscommand: true
      brand: MxToolBox
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      additionalParams: {}
      command:
        simple: txt
      data:
        simple: example.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: 5d24591d-bb6d-4e27-8f47-6e8d26d1c1ac
    type: regular
    task:
      id: 5d24591d-bb6d-4e27-8f47-6e8d26d1c1ac
      version: -1
      name: mxtoolbox
      description: Run any supported command on the mxtoolbox API
      script: MxToolBox|||mxtoolbox
      type: regular
      iscommand: true
      brand: MxToolBox
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      additionalParams: {}
      command:
        simple: soa
      data:
        simple: example.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: 7587601b-bf52-4b9b-86ec-2b7f748bc94b
    type: regular
    task:
      id: 7587601b-bf52-4b9b-86ec-2b7f748bc94b
      version: -1
      name: mxtoolbox
      description: Run any supported command on the mxtoolbox API
      script: MxToolBox|||mxtoolbox
      type: regular
      iscommand: true
      brand: MxToolBox
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      additionalParams: {}
      command:
        simple: ptr
      data:
        simple: 93.184.216.34
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "9":
    id: "9"
    taskid: d2bf1694-35db-4286-8d62-479442f7434e
    type: condition
    task:
      id: d2bf1694-35db-4286-8d62-479442f7434e
      version: -1
      name: Exists errors?
      scriptName: Exists
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "11"
    scriptarguments:
      value:
        simple: ${MXToolbox.Errors}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "11":
    id: "11"
    taskid: f3de9df0-d74a-4c14-8784-a69e1873c8e6
    type: regular
    task:
      id: f3de9df0-d74a-4c14-8784-a69e1873c8e6
      version: -1
      name: Print failures
      scriptName: ToTable
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      columns: {}
      data:
        simple: ${MXToolbox.Errors}
      title: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1640,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
